CVBuilder.Core/bin/*
CVBuilder.Core/obj/*
CVBuilder.Domain/bin/*
CVBuilder.Domain/obj/*
CVBuilder.Repository/bin/*
CVBuilder.Repository/obj/*
CVBuilder.Service/bin/*
CVBuilder.Service/obj/*
CVBuilder.WebAPI/bin/*
CVBuilder.WebAPI/obj/*
.vscode/*
